.details-header {
  background-color: #f08;
  width: 100%;
  height: 4rem;
  display: flex;
  flex-wrap: nowrap;
}

.back-btn {
  margin: 1rem;
  font-size: 2rem;
}

.county-details {
  display: flex;
  text-align: center;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.data-container {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
}

.data-item {
  width: 23%;
  height: 2rem;
  padding: 0.3rem;
  background-color: #ff0086;
  margin: 0.1rem;
  border-radius: 0.2rem;
}

.data {
  margin: 0.2rem;
}

.data-label {
  color: #000;
  font-weight: bold;
}

/* mobile version style */
@media (max-width: 768px) {
  .data-item {
    width: 96%;
  }
}
