.header {
  background-color: #f08;
  width: 100%;
  height: 4rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.header-item {
  width: 31%;
  flex: 31%;
  margin: 1.1rem;
  justify-content: space-between;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
}

.last-header-item {
  text-align: right;
}

.header-icon {
  margin: 5px;
}

/* mobile version style */

@media (max-width: 768px) {
  .middle-header {
    display: none;
  }
}
